node_modules

# ar module
audio-recognition/__pycache__
audio-recognition/.venv
audio-recognition/manifest.yml
audio-recognition/constants.py
audio-recognition/sample.wav
audio-recognition/runtime.txt
audio-recognition/Procfile
audio-recognition/DockerFile
audio-recognition/.dockerignore
audio-recognition/start


# backend
backend/.vscode
backend/db/data
backend/gen
backend/node_modules
bakcend/mta.yaml
backend/db.sqlite
backend/package-lock.json

# frontend
node_modules
assets/
vite.config.js.*