node_modules

# ar module
audio-recognition/__pycache__
audio-recognition/.venv
audio-recognition/manifest.yml
audio-recognition/constants.py
audio-recognition/Procfile
audio-recognition/sample.wav

# backend
backend/.vscode
backend/db/data
backend/gen
backend/node_modules
backend/srv/utils/constants.js
bakcend/mta.yaml

# frontend
node_modules
assets/
vite.config.js.*